header h1{
    font-size: 50px;
    font-family: montserrat,sans-serif;
    align-items: center;
   display: inline-block;
   margin-left: 300px;

}



body{

    background-color: #12121f ;
    font-family: montserrat,sans-serif;
    color: white;
}

.button {

    cursor: pointer;
    display: inline-block;
    font-family:montserrat,sans-serif;
    width: 90px;
    height: 30px;
    border: 2px solid;
    border-color: #7C3AED;
    background-color:  #12121f;
    border-radius: 20px;
    color:  #ffffff;
    transition: 0.25s;
    
}

.button:hover{

    box-shadow: 0px 0px 10px #9c5eff;
    color: white;
    width: 100px;
    height: 40px;
    background: linear-gradient(#A855F7,#7C3AED);
    border-color:#A855F7,#7C3AED;
    transition: 0.25s;

}

.button1{

    cursor: pointer;
    display: inline-block;
    font-family:montserrat,sans-serif;
    width: 120px;
    height: 50px;
    border: 2px solid;
    border-color: #7C3AED;
    background-color:  #12121f;
    border-radius: 20px;
    color:  #ffffff;
    transition: 0.25s;
   
}

.button1:hover{

    box-shadow: 0px 0px 10px #9c5eff;
    color: white;
    width: 125px;
    height: 55px;
    background: linear-gradient(#A855F7,#7C3AED);
    border-color:#A855F7,#7C3AED;
    transition: 0.25s;

}




h1 span{
    color: transparent;
    background: linear-gradient(to left, #6224c5,#7C3AED);
    background-clip: text;
    
}

h3 span{

    color: transparent;
    background: linear-gradient(to right, #9c5eff,#7C3AED);
    background-clip: text;
}


.page1{
    font-size: 20px;
    margin-left: 300px;
    height: 100vh;
    display: inline-table;
}

.myskills{
    
    font-size: 50px;
}

.skillstexts{
    font-size: 25px;
}


.page2{
   
    height: 100vh;
}

img{
    width: 500px;
}

.page2{
    font-size: 15px;
    display: inline-block;
    margin-left: 300px;
    height: 100vh;
}

.thumbs{
   opacity: 10%;
   

}

.thumbs:hover{
    opacity: 100%;
    size: 10px;
    box-shadow: 4px 3px 10px #9c5eff;
  
}

 .favimgs{

    display: flex;
    flex-direction: row;

 }

.page3{
    font-size: 25px;
    margin-left: 300px;
    height: 100vh;
}
